<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Services</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Sorry, the web app is only available Mon-Fri from 9 AM to 5 PM.</h1>
  
</body>
</html>
