body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #11375f;
  color: #bdbbbb;
  text-align: center;
  
}

nav {
  background-color: #222c36;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #b9bec4;
  margin-top: 200px;
}
